<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Добредојдовте во {{ title }}!
    <!-- <missing-component></missing-component> -->
  </h1>
  <h2> {{ seed }} </h2>

  <button (click)="toggleShow()">Toggle Weko / Ige</button>
  <button (click)="toggleStyle()">Toggle Styles</button>

  <div [ngClass]="wekoClass" *ngIf="showWeko">
    <input type="text" [value]="name" (change)="setName($event)">

    <button (click)="toggleWeko()">{{buttonTitle}}</button>
    <h2>{{ getGreeting("en") }}</h2>
  </div>

  <div *ngIf="!showWeko">
    <br />
    <input type="text" [(ngModel)]="name2">

    <ul>
      <li>{{name2}}</li>
      <li>{{name2}}</li>
      <li>{{name2}}</li>
      <li>{{name2}}</li>
      <li>{{name2}}</li>
      <li>{{name2}}</li>
    </ul>
  </div>

  <hr />

  <table>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th></th>
    </tr>
    <tr *ngFor="let book of books; index as index; last as last; first as f">
      <td [ngClass]="{first:f}">{{book.author}}</td>
      <td [ngClass]="{second:last}">{{book.title}}</td>
      <td><button (click)="removeBook(index)">X</button></td>
    </tr>
  </table>

  <hr />

  <ul>
    <li *ngFor="let book of books">{{book.author}} - {{book.title}} </li>
  </ul>

  <button (click)="addBook()">Add Book</button>
  <button (click)="editBook()">Edit Book</button>
</div>