<div *ngIf="!!authors">
    <authors-command (nextPage)="changePage(1)" (previousPage)="changePage(-1)" (doSearch)="search($event)"></authors-command>

    <button (click)="hideStatus()">Hide status</button>
    <authors-status *ngIf="statusVisible" [first]="authors.first" [last]="authors.last" [total]="authors.total"></authors-status>

    <!-- <div *ngIf="!!selectedAuthor">
        <author-details [authorId]="selectedAuthor.wweId"></author-details>
        <div (click)="clearSelected()">Back</div>
    </div> -->
    <author-list *ngIf="!selectedAuthor" [authors]="authors.items" (selectAuthor)="authorSelected($event)" ></author-list>

    <pre style="text-align: left">{{ authors | json }}</pre>
</div>

<div #something *ngIf="!authors">
    Loading...
</div>